<div class="container"> 
    <div class="row">
        <div class="col-sm-6">
            <h2>Country</h2>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-primary" [routerLink]="['/Forms/Countries/add']">Add Country</a>
        </div>
    </div>
    <div class="row">
        <div class="table" id="tblCountry">
            <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Country Name</th>
                  <th scope="col">Country Code</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    
                  </tr>
              </tbody>
        </div>
    </div>
</div>