<div class="container"> 
    <div class="row">
        <div class="col-sm-6">
            <h2>Country</h2>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-primary" [routerLink]="['/Forms/Countries/add']">Add Country</a>
        </div>
    </div>
    <div class="row">
        <ng-container *ngIf="Countries">
        <div class="table" id="tblCountry">
            <thead class="thead-dark">
                <tr>
                  <th scope="col" class="hide">Id</th>
                  <th scope="col">Country</th>
                  <th scope="col">Code</th>
                  <th scope="col">Description</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let country of Countries">
                    <td class="hide">{{country.id}}</td>
                    <td>{{country.name}}</td>
                    <td>{{country.countryCode}}</td>
                    <td>{{country.description}}</td>
                    <td><button type="submit" class="btn btn-Success" [routerLink]="['/Forms/Countries/edit', country.id]">Edit</button></td>
                  </tr>
              </tbody>
        </div>
    </ng-container>

    </div>
</div>